.content-wrapper.areas-cover {
  .location-col {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 25px;
    @media (max-width: 450px) {
      flex-direction: column;
    }

    li {
      flex-basis: 30%;

      @media (max-width: 767px) {
        flex-basis: 50%;
      }
    }
  }
}
