.content-wrapper {
	padding: 5vh 0;
	h3 {
		font-size: 1.4rem;
		line-height: 2.4rem;
		font-weight: 700;
		margin-bottom: 2%;
		letter-spacing: 2px;
		color: $primary-color;
		text-transform: uppercase;
	}
}

.about {
	color: $text-color;
}
.other-content {
	margin-top: 50px;
}
.pricing {
	padding: 3vh 0;
	.heading {
		padding: 0;
	}

	h5 {
		line-height: 1.6;
	}
	.price-table {
		.table {
			margin-bottom: 30px;
			tr {
				&:hover {
					background: $primary-color;
					color: $white;
					td {
						color: $white;
					}
				}
				th,
				td {
					color: $text-color;
					&:last-child {
						text-align: right;
					}
				}
			}
		}
	}
}
