.heading {
	padding: 0 0 30px 0;
	img {
		max-height: 2rem;
	}
	h1 {
		font-size: 1.8rem;
		line-height: 3rem;
		font-weight: 900;
		color: $primary-color;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		// font-family: "Montserrat", sans-serif;
	}
}
.color-primary {
	color: $primary-color;
}
.primary-bg {
	background: $primary-color !important;
}
.secondary-bg {
	background: $secondary-color !important;
}
select {
	text-transform: capitalize;
}
input,
select {
	border-radius: 0 !important;
	border-color: $primary-color !important;
	// background: $text-rev !important;

	&:focus {
		border-color: $secondary-color !important;
		outline: 0 !important;
		box-shadow: none !important;
	}
}

button:focus {
	outline: 0 !important;
	border: 0 !important;
}
.button {
	background: $primary-color;
	color: $white !important;
	padding: 0.5rem 1rem;
	font-weight: 700;
	border: 1.5px solid $primary-color;
	border-radius: 0px;
	letter-spacing: 2px;
	text-transform: capitalize;

	&:hover {
		background: $secondary-color;
		color: $text-color;
		border-color: $secondary-color;
		box-shadow: rgba($text-color, 0.5) 0px 10px 10px -10px;
		// transform: scale(1.01);
		transition: 0.3s ease-in;
		z-index: 3;
	}
}
.button-second {
	background: $secondary-color;
	color: $white;
	border-color: $secondary-color;
	// letter-spacing: 2px;
	&:hover {
		background: $primary-color;
		color: $white;
		border-color: $primary-color;
	}
}
.wb-button {
	border: none;
	background: $text-rev;
	font-size: 0.8rem;
	color: $text-color;
	text-transform: capitalize;
	font-weight: 600;
	padding: 0.7rem 1rem;
	@media (min-width: 576px) and (max-width: 650px) {
		font-size: 0.6rem;
	}
	@media (max-width: 305px) {
		font-size: 0.5rem;
		padding: 0.5rem 0.4rem;
	}

	&.secondary {
		background: $secondary-color;
		color: $text-color;
	}

	i {
		margin-right: 0.2rem;
	}
	&:hover {
		text-decoration: none;
		transition: 0.3s ease-in;
	}
}
.hide {
	display: none;
	// transition: display 0.4s ease-out;
}
.red {
	color: $warning;
	margin-top: 10px;
}

.form-group {
	input,
	textarea {
		border-color: $primary-color;
	}
}

.equal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.equal > [class*="col-"] {
	display: flex;
	flex-direction: column;
}

.bold {
	font-weight: 900;
}

.seo {
	width: 98%;
	margin: 0 auto;
	color: $text-rev;
	h4 {
		font-weight: 300;
		font-size: 0.5rem;
	}
}
a {
	color: $primary-color;
	&:hover {
		color: $text-color;
	}
}

.review-wrapper {
	// background-color: $secondary-color;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	img {
		max-width: 100%;
	}
	.thumbs {
		width: 90%;
		display: flex;
		// align-items: center;
		justify-content: space-between;
		color: $warning;
		a {
			color: inherit;
		}
		a:last-child {
			color: $secondary-color;
		}
	}
	h1 {
		color: $primary-color;
		font-size: 95px;
		line-height: 1.6;
		letter-spacing: 2px;
		font-weight: 700;
		text-transform: uppercase;
		@media (max-width: 767px) {
			font-size: 35px;
		}
	}
}
