.top-header {
	background-color: $primary-color;
	color: $white;
	font-size: 0.9rem;
	padding: 0.2rem 0;
	p {
		margin-bottom: 0;
		@media (max-width: 767px) {
			text-align: center;
			&.phone {
				display: none;
			}
		}
	}
	.slogan {
		font-size: 1.1rem;
		font-weight: 500;
	}
	a {
		color: $white;
	}
	img {
		height: 0.8rem;
	}
}

.navbar {
	color: $primary-color;
	text-transform: uppercase;
	background-color: $text-rev;
	// top: 0;
	// left: 0;
	height: 85px;
	width: 100%;
	padding: 0 10vw;
	z-index: 99;
	transition: 0.4s ease-out;
	// clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 50% 30%, 0% 20%);
	.navbar-brand {
		color: $white;
	}
	.navbar-nav {
		.nav-item {
			padding: 0rem 0.5rem;
			.nav-link {
				color: $text-color;
				padding: 0.5rem 1rem;
				font-weight: 600;
				letter-spacing: 1px;
				border-radius: 0;
				// font-family: "Josefin Sans", sans-serif;
				// font-family: "Raleway", sans-serif;
				// font-family: "Montserrat", sans-serif;
				font-family: "Roboto", sans-serif;
				font-size: 1rem;

				&:hover {
					// background: rgba($primary-color, 0.5);
					background: $secondary-color;
				}
			}
			.dropdown-menu {
				background: $primary-color;
				border: 0;
				border-radius: 0;
				.dropdown-item {
					color: $white;
					font-weight: 500;
					letter-spacing: 1px;

					&:hover {
						background: $secondary-color;
						color: $primary-color;
					}
				}
			}
			.button {
				color: $white;
				background: $secondary-color;
				letter-spacing: 2px;
				border: 0;
				&:hover {
					background: $primary-color;
					// color: $white!important;
				}
			}
		}
	}

	&.scrolled {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 65px;
		background: rgba($primary-color, 0.9);
		.navbar-nav {
			.nav-item {
				.nav-link {
					color: $white;
					@media (max-width: 989px) {
						color: $text-color;
					}
					&:hover {
						background: $secondary-color;
						color: $text-color;
					}
				}
				.button {
					// color: $text-rev;

					&:hover {
						background: $white;
						color: $primary-color !important;
					}
				}
			}
		}
	}
}
