.page-header {
	min-height: 30vh;
	padding: 6vh 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: $text-color;
	background-blend-mode: soft-light;
	.ph-text {
		.ph-title {
			text-transform: capitalize;
			padding: 5vh 0;
			color: $text-color;
			h1 {
				// background: rgba($primary-color, 0.6);
				font-weight: 900;
				font-size: 1.8rem;
				letter-spacing: 2px;
				line-height: 1.7;
				background: rgba($secondary-color, 0.8);
				display: inline-block;
				padding: 1rem 2rem;
				word-wrap: break-word;
				@media (max-width: 570px) {
					display: block;
				}
			}
		}
	}
}
