.page-header {
	height: 60vh;
	padding: 15vh 0;
	background: 
		url("../img/21481.png") no-repeat bottom right;

	background-size: cover;
	// background-position: 300px -100px;
	// background-attachment: fixed;
	background-blend-mode: multiply;
	.ph-text {
		.ph-title {
			text-transform: capitalize;

			padding: 5vh 0;

			color: $white;
			h1 {
				// background: rgba($primary-color, 0.6);
				font-weight: 900;
				font-size: 2.3rem;
				font-family: "Josefin Sans", sans-serif;
				background: rgba($secondary-color, 0.8);
				display: inline-block;
				padding: 2rem;
				// padding: 2vh 0;
			}
		}
	}
}
