.services{
  padding: 8vh 0;
}

.card-holder {
  background: rgba($white, 0.7);
  margin: 1.5rem 0;
  box-shadow: rgba($text-color, 0.2) 0px 5px 5px -5px;
  .ch-image-holder{
    .img-fluid{

      width: 100%;
      
    }
  }
  .ch-content-holder, .ch-footer{
    margin: 1rem;
    padding: 1rem 0;
  }
  .ch-content-holder{
    border-bottom: 2px solid $text-rev;
    .sub-heading{
      
      h5{
        font-size: 1.3rem;
        font-weight: 600;
        color: $secondary-color;
        text-transform: capitalize;
      }
      .price{
        h5{
          font-size: 1.18rem;
          font-weight: 500;
          color: $text-color;
          font-family: "Josefin Sans", sans-serif;
        }
        
      }
    }
    .star{
      color: $primary-color;
    }
  }

  &:hover{
    background: rgba($white, 1);
    box-shadow: rgba($text-color, 0.5) 0px 10px 10px -10px;
    transform: translateY(-0.35rem);
    transition: 0.3s ease-in;
  }
}