// $primary-color: #3c40c6;
// $primary-color: #eb7980;
// $primary: $primary-color !default;
$primary-color: #1b75b9;
// $secondary-color: #586261;
// $secondary-color: #379683;
// $color-primary: #1b75b9;
// $color-secondary: #cae63f;

$secondary-color: #cae63f;
$warning: #ff2400;
$overlay: #5cdb95;
$text-color: #363839;
$text-rev: #f2f2f2;
$white: #fff;
$card-back: #bbcedf;
$shad: #808e9b;
$background: #d2dae2;
