@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Montserrat|Raleway|Roboto&display=swap");
.heading {
  padding: 0 0 30px 0;
}

.heading img {
  max-height: 2rem;
}

.heading h1 {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 900;
  color: #3c5899;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.color-primary {
  color: #3c5899;
}

.primary-bg {
  background: #3c5899 !important;
}

.secondary-bg {
  background: #62d497 !important;
}

select {
  text-transform: capitalize;
}

input,
select {
  border-radius: 0 !important;
  border-color: #3c5899 !important;
}

input:focus,
select:focus {
  border-color: #62d497 !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

button:focus {
  outline: 0 !important;
  border: 0 !important;
}

.button {
  background: #3c5899;
  color: #fff !important;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border: 1.5px solid #3c5899;
  border-radius: 0px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.button:hover {
  background: #62d497;
  color: #363839;
  border-color: #62d497;
  -webkit-box-shadow: rgba(54, 56, 57, 0.5) 0px 10px 10px -10px;
          box-shadow: rgba(54, 56, 57, 0.5) 0px 10px 10px -10px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  z-index: 3;
}

.button-second {
  background: #62d497;
  color: #fff;
  border-color: #62d497;
}

.button-second:hover {
  background: #3c5899;
  color: #fff;
  border-color: #3c5899;
}

.wb-button {
  border: none;
  background: #f1f1f1;
  font-size: 0.8rem;
  color: #363839;
  text-transform: capitalize;
  font-weight: 600;
  padding: 0.7rem 1rem;
}

@media (min-width: 576px) and (max-width: 650px) {
  .wb-button {
    font-size: 0.6rem;
  }
}

@media (max-width: 305px) {
  .wb-button {
    font-size: 0.5rem;
    padding: 0.5rem 0.4rem;
  }
}

.wb-button.secondary {
  background: #62d497;
  color: #363839;
}

.wb-button i {
  margin-right: 0.2rem;
}

.wb-button:hover {
  text-decoration: none;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.hide {
  display: none;
}

.red {
  color: #ff2400;
  margin-top: 10px;
}

.form-group input,
.form-group textarea {
  border-color: #3c5899;
}

.equal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.equal > [class*="col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bold {
  font-weight: 900;
}

.seo {
  width: 98%;
  margin: 0 auto;
  color: #f1f1f1;
}

.seo h4 {
  font-weight: 300;
  font-size: 0.5rem;
}

a {
  color: #3c5899;
}

a:hover {
  color: #363839;
}

.review-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.review-wrapper img {
  max-width: 100%;
}

.review-wrapper .thumbs {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ff2400;
}

.review-wrapper .thumbs a {
  color: inherit;
}

.review-wrapper .thumbs a:last-child {
  color: #62d497;
}

.review-wrapper h1 {
  color: #3c5899;
  font-size: 95px;
  line-height: 1.6;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .review-wrapper h1 {
    font-size: 35px;
  }
}

.top-header {
  background-color: #3c5899;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.2rem 0;
}

.top-header p {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .top-header p {
    text-align: center;
  }
  .top-header p.phone {
    display: none;
  }
}

.top-header .slogan {
  font-size: 1.1rem;
  font-weight: 500;
}

.top-header a {
  color: #fff;
}

.top-header img {
  height: 0.8rem;
}

.navbar {
  color: #3c5899;
  text-transform: uppercase;
  background-color: #f1f1f1;
  height: 85px;
  width: 100%;
  padding: 0 10vw;
  z-index: 99;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .navbar-brand img {
  max-height: 64px;
}

.navbar .navbar-nav .nav-item {
  padding: 0rem 0.5rem;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #363839;
  padding: 0.5rem 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  background: #62d497;
}

.navbar .navbar-nav .nav-item .dropdown-menu {
  background: #3c5899;
  border: 0;
  border-radius: 0;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background: #62d497;
  color: #3c5899;
}

.navbar .navbar-nav .nav-item .button {
  color: #fff;
  background: #62d497;
  letter-spacing: 2px;
  border: 0;
}

.navbar .navbar-nav .nav-item .button:hover {
  background: #3c5899;
}

.navbar.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  border-bottom: 1px solid rgba(54, 56, 57, 0.2);
}

.navbar.scrolled .navbar-brand img {
  max-height: 60px;
}

.navbar.scrolled .navbar-nav .nav-item .nav-link {
  color: #363839;
}

@media (max-width: 989px) {
  .navbar.scrolled .navbar-nav .nav-item .nav-link {
    color: #363839;
  }
}

.navbar.scrolled .navbar-nav .nav-item .nav-link:hover {
  background: #62d497;
  color: #363839;
}

.navbar.scrolled .navbar-nav .nav-item .button:hover {
  background: #fff;
  color: #3c5899 !important;
}

.modal-body {
  background: #3c5899;
}

.quote-engine-wrapper h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0 25px 0;
  text-align: center;
}

.quote-engine-wrapper .content {
  font-size: 0.9rem;
  display: block;
  margin: 0.3rem 2rem;
}

.quote-engine-wrapper p input[type=radio] {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.quote-engine-wrapper p span {
  font-size: 1.1rem;
  line-height: 1.9rem;
}

.quote-engine-wrapper .button {
  background: transparent;
  border-color: #62d497;
  color: #62d497;
}

.quote-engine-wrapper .button:hover {
  background: #f1f1f1;
  border-color: #f1f1f1;
}

.modal-footer {
  padding: 0.3rem;
  background: #62d497;
}

.modal-footer .button:hover {
  background: #f1f1f1;
  color: #62d497;
}

.hero {
  min-height: 70vh;
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  padding: 5vh 0;
  position: relative;
  text-align: center;
  color: #363839;
}

.hero .hero-text {
  padding: 1rem;
}

.hero .hero-text .heading-copy {
  text-align: left;
}

@media (max-width: 767px) {
  .hero .hero-text .heading-copy {
    text-align: center;
  }
}

.hero .hero-text .heading-copy h1 {
  color: #363839;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.hero .hero-text .heading-copy h1 i {
  color: #3c5899;
}

.hero .hero-text .heading-copy .highlight {
  color: #3c5899;
}

.hero .hero-text .images {
  text-align: center;
}

@media (min-width: 768px) {
  .hero .hero-text .images {
    margin: 1.5rem auto;
  }
}

.hero .hero-text .images img {
  max-height: 60px;
  margin: 1rem auto;
}

.hero .hero-text .heading-sub {
  text-align: left;
  text-transform: capitalize;
  color: #363839;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 1.3rem;
  line-height: 1.4;
}

.hero .hero-text .heading-sub .highlight {
  color: #3c5899;
}

.hero .hero-text .hero-button {
  padding: 2vh 0;
  text-align: left;
}

.hero .hero-text .hero-button .button:hover {
  color: #363839;
}

@media (max-width: 767px) {
  .hero .hero-text .hero-button {
    text-align: center;
  }
}

.hero-shapes {
  position: relative;
  margin: 2rem 0;
}

.hero-shapes .hs-content {
  background: rgba(60, 88, 153, 0.7);
  padding: 5% 10% 5% 5%;
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}

.hero-shapes .hs-content p {
  margin-bottom: 0;
}

.hero-shapes .hs-content .hs-content-text {
  font-size: 1.1rem;
  color: #f1f1f1;
  text-transform: capitalize;
  font-weight: 700;
  margin-left: 0.5rem;
}

.hero-button {
  margin-top: 10px;
}

.thank-content {
  padding-top: 5vh;
}

.thank-content h1,
.thank-content h3 {
  color: #f1f1f1;
}

.thank-content h1 {
  font-weight: 900;
}

.thank-content h3 {
  font-weight: 500;
}

.hero-form-content {
  padding: 0 0rem 1rem;
  background: #62d497;
}

@media (max-width: 767px) {
  .hero-form-content {
    margin: 1rem 0 2rem;
  }
}

.hero-form-content .heading {
  background: #3c5899;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
}

.hero-form-content .heading h1 {
  color: #fff;
  padding: 1rem 0;
}

.hero-form-content form {
  padding: 1rem;
}

.hero-form-content .button {
  text-transform: uppercase;
}

.hero-form-content .button:hover {
  background-color: #fff;
  color: #3c5899 !important;
}

.services {
  padding: 8vh 0;
}

.card-holder {
  background: #fafafa;
  margin: 1.5rem 0;
  height: 100%;
  -webkit-box-shadow: rgba(54, 56, 57, 0.7) 0px 5px 10px 0px;
          box-shadow: rgba(54, 56, 57, 0.7) 0px 5px 10px 0px;
}

.card-holder .ch-image-holder .img-fluid {
  width: 100%;
}

.card-holder .ch-footer {
  padding: 0.8rem 0 1.5rem 0;
}

.card-holder .ch-content-holder .sub-heading {
  color: #363839;
  background: #ebebeb;
  padding-bottom: 0;
}

.card-holder .ch-content-holder .sub-heading h5 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
  padding: 0.6rem 0;
}

.card-holder .ch-content-holder .price {
  margin-top: 0.8rem;
  color: #fff;
  background: #3c5899;
}

.card-holder .ch-content-holder .price h5 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0;
  letter-spacing: 1px;
}

.card-holder .ch-content-holder .star {
  color: #62d497;
  padding-top: 0.8rem;
}

.card-holder:hover {
  background: white;
  -webkit-box-shadow: rgba(54, 56, 57, 0.5) 0px 10px 10px -10px;
          box-shadow: rgba(54, 56, 57, 0.5) 0px 10px 10px -10px;
  -webkit-transform: translateY(-0.35rem);
          transform: translateY(-0.35rem);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.what-is {
  background: #62d497;
  padding: 5vh 0;
}

.what-is .heading {
  padding-bottom: 15px;
}

.what-is .heading h1 {
  color: #363839;
}

.what-is .sub-heading {
  color: rgba(54, 56, 57, 0.7);
}

.what-is .sub-heading h4 {
  font-weight: 600;
}

.feature-wrapper {
  margin: 8vh 0 1vh 0;
}

.feature-wrapper .feature-icon {
  margin-bottom: 0.8rem;
}

.feature-wrapper .feature-icon img {
  background: #f1f1f1;
  padding: 1.2rem;
  border: 5px solid #3c5899;
  border-radius: 50%;
}

.feature-wrapper .feature-heading h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.feature-wrapper .feature-content {
  margin: 1vh 0;
  color: rgba(54, 56, 57, 0.7);
  font-size: 1.25rem;
  font-weight: 600;
}

.how-works {
  padding: 5vh 0;
}

.how-works .heading-content {
  margin-bottom: 2rem;
}

.how-works .heading {
  padding-bottom: 15px;
}

.how-works .sub-heading {
  color: rgba(54, 56, 57, 0.7);
}

.how-works .sub-heading h4 {
  font-weight: 600;
}

.how-works .hw-single {
  margin-top: 2vh;
}

.how-works .hw-single .hws-heading h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.how-works .hw-single .hws-content {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(54, 56, 57, 0.7);
}

.why-us {
  padding: 8vh 0;
  color: #363839;
}

.why-us .wu-content-wrapper .wu-content {
  font-size: 1.1rem;
  font-weight: 500;
}

.why-us .wu-content-wrapper .wu-content .sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.wu-content-image {
  padding: 1rem;
  background: #3c5899;
}

.sub-heading,
.ec-heading {
  color: #363839;
  padding-bottom: 2rem;
}

.sub-heading h5,
.ec-heading h5 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
}

.ec-image img {
  margin: 0 auto;
}

.ec-iconbox {
  padding: 1rem 0;
}

.ec-iconbox .ec-icon-holder {
  margin: 1rem 0;
}

.ec-iconbox .ec-icon-heading {
  color: #363839;
}

.ec-iconbox .ec-icon-heading h5 {
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.ec-iconbox .ec-icon-text p {
  font-size: 0.95rem;
  line-height: 1.3rem;
  font-weight: 500;
}

.what-we-do {
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  padding: 15vh 0;
}

.wwd-content-block {
  margin: 1.5rem 0;
  padding: 2.5rem 1rem;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: rgba(54, 56, 57, 0.2) 0px 5px 5px -5px;
          box-shadow: rgba(54, 56, 57, 0.2) 0px 5px 5px -5px;
}

.wwd-content-block .icon-holder {
  margin-bottom: 1rem;
}

.wwd-content-block h5 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.9rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.wwd-content-block p {
  font-size: 1rem;
  font-weight: 500;
}

.wwd-content-block:hover {
  background: white;
  -webkit-box-shadow: rgba(54, 56, 57, 0.5) 0px 10px 10px -10px;
          box-shadow: rgba(54, 56, 57, 0.5) 0px 10px 10px -10px;
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.what-we-do-dif {
  padding: 10vh 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.what-we-do-dif {
  background: #fff;
  padding: 5vh 0;
}

.what-we-do-dif .heading h1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

.process {
  padding: 8vh 0;
}

.process .content {
  margin-bottom: 2.8rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #3c5899;
  color: #f1f1f1;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-it-works.row .col-7 h5 {
  color: #363839;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.how-it-works.row .col-7 p {
  color: #363839;
  font-size: 1rem;
  line-height: 1.9rem;
  font-weight: 500;
}

.how-it-works.row .col-7 ul li {
  color: #363839;
  font-size: 1rem;
  line-height: 1.9rem;
  font-weight: 500;
}

.how-it-works.row .col-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #3c5899;
  z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.new-full::after {
  height: 100%;
  left: 50%;
}

.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}

.timeline hr {
  border-top: 3px solid #3c5899;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.timeline .corner {
  border: 3px solid #3c5899;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.timeline .top-right {
  left: 50%;
  top: -50%;
}

.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}

.timeline .top-left {
  left: -50%;
  top: -50%;
}

.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

.review {
  padding: 5vh 0;
  background: #fff;
}

.review-content-wrapper {
  padding: 2rem 1rem;
}

.review-content-wrapper .review-icon {
  color: #3c5899;
  margin-bottom: 1.5rem;
}

.review-content-wrapper .review-rating {
  color: #62d497;
  margin-bottom: 0.5rem;
}

.review-content-wrapper .reviewer-info .name {
  font-size: 0.9rem;
  line-height: 1rem;
  color: #4f5253;
}

.review-content-wrapper .reviewer-info .company {
  font-size: 0.8rem;
  line-height: 0.9rem;
  color: #686b6d;
}

.review-content-wrapper .review-text p {
  font-family: "Josefin Sans", sans-serif;
}

.review-content-wrapper .review-text .quote {
  margin-right: 1rem;
  color: #3c5899;
}

.contact {
  padding: 8vh 0;
}

.contact .contact-box .contact-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact-box h3 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 600;
  margin: 5px 0 30px 0;
  color: #363839;
  text-transform: capitalize;
}

.contact .contact-box p {
  font-family: "Josefin Sans", sans-serif;
}

.contact .contact-box p img {
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

.contact .contact-box p span {
  font-size: 1.1rem;
  color: #363839;
  font-weight: 500;
  margin-left: 5px;
  font-family: "Josefin Sans", sans-serif;
}

.contact .contact-box p span a {
  text-decoration: none;
  color: #363839;
  font-family: "Josefin Sans", sans-serif;
}

.contact .contact-form {
  padding: 10px 0;
}

.contact .contact-form .form-group input,
.contact .contact-form .form-group textarea {
  border-color: #3c5899;
}

.area-cover {
  padding: 5vh 0;
}

.area-cover .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.area-cover .flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
}

.area-cover .flex-item li {
  max-width: 185px;
}

.area-cover .tabs .tab a {
  color: #363839;
  font-size: 1rem;
  margin-top: -10px;
  text-transform: capitalize;
}

.area-cover .tabs .indicator {
  height: 3px;
  background-color: #62d497;
}

.sticky-mobile {
  background: #3c5899;
  color: #f1f1f1;
  width: 100vw;
  max-height: 53px;
  position: fixed;
  left: 0;
  bottom: 0;
  border-radius: 0;
}

.sticky-mobile .row {
  margin-bottom: 0;
}

.sticky-mobile .row p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 10px 0;
}

.sticky-mobile .row p img {
  margin-right: 10px;
}

.sticky-mobile .row p a {
  color: #f1f1f1;
}

.footer {
  background: #3c5899;
  color: #f1f1f1;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 15px 0;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #f1f1f1;
}

.page-header {
  min-height: 30vh;
  padding: 6vh 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #363839;
  background-blend-mode: soft-light;
}

.page-header .ph-text .ph-title {
  text-transform: capitalize;
  padding: 5vh 0;
  color: #363839;
}

.page-header .ph-text .ph-title h1 {
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 1.7;
  background: rgba(98, 212, 151, 0.8);
  display: inline-block;
  padding: 1rem 2rem;
  word-wrap: break-word;
}

@media (max-width: 570px) {
  .page-header .ph-text .ph-title h1 {
    display: block;
  }
}

.privacy-policy {
  padding: 5vh 0;
}

.privacy-policy ul {
  margin-left: 20px;
}

.privacy-policy h1,
.privacy-policy h2,
.privacy-policy h3,
.privacy-policy h4,
.privacy-policy h5 {
  font-weight: 900;
}

.content-wrapper,
.other-content {
  padding: 5vh 0;
}

@media (max-width: 767px) {
  .content-wrapper,
  .other-content {
    margin-bottom: 50px;
  }
}

.content-wrapper h3,
.other-content h3 {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  margin-bottom: 2%;
  letter-spacing: 2px;
  color: #3c5899;
  text-transform: uppercase;
}

.about {
  color: #363839;
}

.other-content {
  padding-top: 0;
}

.pricing {
  padding: 3vh 0;
}

.pricing .heading {
  padding: 0;
}

.pricing h5 {
  line-height: 1.6;
}

.pricing .price-table .table {
  margin-bottom: 30px;
}

.pricing .price-table .table tr:hover {
  background: #3c5899;
  color: #fff;
}

.pricing .price-table .table tr:hover td {
  color: #fff;
}

.pricing .price-table .table tr th,
.pricing .price-table .table tr td {
  color: #363839;
}

.pricing .price-table .table tr th:last-child,
.pricing .price-table .table tr td:last-child {
  text-align: right;
  font-weight: 600;
  letter-spacing: 2px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../dist/image/nav-icon.svg);
}

.navbar-dark .navbar-toggler-icon svg {
  fill: #62d497;
}

.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

@media screen and (max-width: 1199px) {
  .hero .hero-text .hero-text-content {
    padding-left: 10%;
  }
  .hero .hero-text .heading h1 {
    font-size: 1.7rem;
    line-height: 2.9rem;
  }
  .hero .hero-text .sub-heading {
    margin-left: 20%;
  }
  .hero .hero-text .sub-heading h5 {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 500;
  }
  .review-text p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 991px) {
  .heading h1 {
    font-size: 1.7rem;
  }
  .hero .hero-text .hero-text-content {
    padding-left: 10%;
  }
  .hero .hero-text .heading h1 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .hero .hero-text .sub-heading {
    margin-left: 20%;
  }
  .hero .hero-text .sub-heading h5 {
    font-size: 0.9rem;
    line-height: 1.1rem;
    font-weight: 500;
  }
  .hero-shapes .hs-content .hs-content-text {
    font-size: 1rem;
  }
  .navbar.scrolled {
    background: #3c5899;
  }
  .navbar-nav {
    background: rgba(241, 241, 241, 0.95);
  }
  .about .image-holder {
    margin: 5% 1%;
  }
  .about .about-content {
    padding: 0 0 0 0;
  }
  .about .about-content h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 3%;
  }
  .services {
    padding: 3% 0 10% 0;
  }
  .services .service-template {
    margin: 30px 0;
    border-radius: 0;
  }
  .services .service-template .st-header h4 {
    font-size: 1.1rem;
    font-weight: 700;
  }
  .services .service-template .st-body .st-content {
    margin-top: 15px;
    font-size: 0.82rem;
    font-weight: 600;
  }
  .service-gellary .figure-holder .f-caption {
    font-size: 0.9rem;
  }
  .page-header .ph-text .ph-title h1 {
    font-size: 1.6rem;
  }
  .painter-service .ps-content-holder {
    padding: 0.7rem 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .hero .hero-text {
    padding-top: 0;
  }
  .hero .hero-text .heading h1 {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }
  .hero .hero-text .sub-heading h5 {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 500;
  }
  .about .image-holder {
    margin: 25% 0 0 0;
  }
  .about .about-content {
    padding: 0 0 0 0;
  }
  .about .about-content h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5%;
  }
  #areas {
    margin-bottom: 60px;
  }
  .services .service-template {
    margin: 30px 0;
  }
  .services .service-template .st-header h4 {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .services .service-template .st-body .st-content {
    margin-top: 15px;
    font-size: 0.82rem;
    font-weight: 600;
  }
  .services::after {
    border-bottom: 100px solid #62d497;
    -webkit-clip-path: polygon(0% 100%, 0% 96%, 100% 100%);
            clip-path: polygon(0% 100%, 0% 96%, 100% 100%);
  }
  .service-gellary {
    padding: 6% 0 8% 0;
  }
  .service-gellary .figure-holder .f-caption {
    font-size: 1.1rem;
  }
  .service-gellary::after {
    border-bottom: 50px solid #f1f1f1;
    -webkit-clip-path: polygon(0% 100%, 50% 97%, 100% 100%);
            clip-path: polygon(0% 100%, 50% 97%, 100% 100%);
  }
  .sm-hide {
    display: none;
  }
  .painter-service .ps-content-holder {
    padding: 3rem 1rem;
  }
}

@media screen and (max-width: 575px) {
  .heading h1 {
    font-size: 1.7rem;
    font-weight: 900;
  }
  .hero .hero-text {
    text-align: left;
  }
  .hero .hero-text .hero-text-content {
    padding-left: 1%;
    text-align: left;
  }
  .hero .hero-text .sub-heading {
    display: none;
  }
  .hero .hero-text .button-second {
    display: none;
  }
  .about .image-holder {
    margin: 5% 2%;
  }
  .about .about-content {
    padding: 5% 0 0 0;
  }
  .about .about-content h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5%;
  }
  .tab-content {
    padding: 0 4%;
  }
  .services::after {
    border-bottom: 80px solid #62d497;
    -webkit-clip-path: polygon(0% 100%, 0% 98%, 100% 100%);
            clip-path: polygon(0% 100%, 0% 98%, 100% 100%);
  }
  .service-gellary {
    padding: 6% 0 14% 0;
  }
  .service-gellary::after {
    margin-top: 1px;
    border-bottom: 40px solid #f1f1f1;
    -webkit-clip-path: polygon(0% 100%, 50% 99%, 100% 100%);
            clip-path: polygon(0% 100%, 50% 99%, 100% 100%);
  }
  .contact {
    padding-top: 30px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #f1f1f1;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.navbar-nav .active {
  background: #62d497;
  color: #363839 !important;
}

::-moz-selection {
  color: #363839;
  background: #62d497;
}

::selection {
  color: #363839;
  background: #62d497;
}

.light {
  color: #f1f1f1;
}

.safety-logos {
  margin: 5vh 0 2vh 0;
}

.safety-logos .sl-single {
  margin: 2vh 0;
}

.whatsapp-icon {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 100;
}

@media (max-width: 767px) {
  .whatsapp-icon {
    right: 5px;
    bottom: 5px;
  }
}

.whatsapp-icon a i {
  color: #25d366;
}
/*# sourceMappingURL=style.css.map */