@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Lobster|Montserrat|Raleway|Roboto&display=swap");
@import "./variables";
@import "./global";
@import "./navbar";
@import "./modal";
@import "./hero";
@import "./services";
@import "./feature";
@import "./h-works";
@import "./why-us";
@import "./what-we-do";
@import "./process";
@import "./review";
@import "./contact";
@import "./area-cover";
@import "./footer";
@import "./page-header";
@import "./privacy";
@import "./area-page";

@import "./media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  background: $text-rev;
  // height: 100%;
  // overflow-y: scroll;
}

.navbar-nav {
  .active {
    // background: rgba($white, 0.9);
    background: lighten($text-rev, 5);
    // color: $text-color;
    // background: lighten($primary-color, 30);
    // .nav-link {
    // 	color: $text-rev;
    // }
  }
}
::selection {
  color: $secondary-color;
  background: $primary-color;
}

.light {
  color: $text-rev;
}

.safety-logos {
  margin: 5vh 0 2vh 0;
  .sl-single {
    margin: 2vh 0;
  }
}
.whatsapp-icon {
  position: fixed;
  right: 25px;
  bottom: 25px;

  z-index: 100;
  a {
    i {
      color: darken($primary-color, 20);
    }
  }
}
